
\.vs/

Slask.Web/bin/

Slask.Web/node_modules/

Slask.Web/obj/

Slask.Web/wwwroot/

Slask.API/bin/

Slask.API/obj/

Slask.API/node_modules/

Slask.Data/bin/

Slask.Data/obj/

Slask.Data/node_modules/